.winners {
  position: relative;
  background: radial-gradient(35.55% 40.02% at 80.57% 49.41%, #FFD8D8 0%, #FDFDFD 100%);
  &__content {
    padding: 96px 0 53px 143px;
    @include wrapper(1440);
  }
  &__title {
    margin-bottom: 23px;
    color: #141414;
    font-size: 60px;
    font-weight: 800;
    line-height: 91%;
    letter-spacing: -0.2px;
    text-transform: uppercase;
  }
  &__more-history {
    margin-bottom: 64px;
    width: 397px;
    color: #141414;
    font-size: 17px;
    font-weight: 500;
    line-height: 141%;
    text-decoration-line: underline;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -52px;
      display: inline-block;
      width: 32px;
      height: 16px;
      background: url(../../../images/winners/display/arrow.svg) center/ 100% 100% no-repeat;
    }
  }
  &__main {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__info {
    margin-bottom: 49px;
    display: flex;
    align-items: center;
  }
  .carousel__item {

  }
  .swiper-container {
    margin: 0;
    width: 750px;
  }
  .swiper-wrapper {
    display: flex;
    align-items: center;
  }
  .swiper-slide {
    width: 250px !important;

    .winners__item {
      width: 170px;
      margin: 0 auto;
    }
    .winners__person {
      margin-bottom: 7px;
      height: 231px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 28px;
        background: rgba(211, 211, 211, 0.44) center/ 100% 100% repeat;
      }
      img {
        width: 100%;
        position: absolute;
        bottom: 0;
        z-index: -1;
      }
    }
    .winners__name {
      margin-bottom: 2px;
      opacity: 0.44;
      color: #141414;
      font-size: 14px;
      font-weight: 600;
      line-height: 116%;
    }
    .winners__present {
      margin-bottom: 0px;
      display: flex;
      align-items: center;
      color: #EA1D42;
      font-size: 22px;
      font-weight: 700;
      line-height: 120%;
      opacity: 0.44;
      position: relative;
      &::before {
        content: "";
        margin-right: 8px;
        display: inline-block;
        width: 24px;
        height: 27px;
        background: url(../../../images/winners/display/present.svg) center/ 100% 100% no-repeat;
      }
    }
    .winners__read {
      display: none;
    }
  }
  .swiper-slide-active {
    .winners__item {
      width: 100%;
      position: relative;
      &::before {
        content: "";
        display: inline-block;
        height: 68px;
        width: 68px;
        position: absolute;
        top: 120px;
        left: 90px;
        z-index: 4;
        background: url(../../../images/winners/display/play.svg) center/ 100% 100% no-repeat;
      }
      &::after {
        content: "Смотреть интервью";
        display: inline-block;
        width: 170px;
        position: absolute;
        top: 204px;
        left: 40px;
        z-index: 4;
        color: #FFF;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        line-height: 171%;
        text-decoration-line: underline;
      }
    }
    .winners__person {
      margin-bottom: 17px;
      height: 340px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 28px;
        background: rgba(1, 11, 71, 0.44);
      }
      img {
        width: 100%;
        position: absolute;
        bottom: 0;
        z-index: -1;
      }
    }
    .winners__name {
      margin-bottom: 4px;
      opacity: 1;
      color: #141414;
      font-size: 21px;
      font-weight: 600;
      line-height: 116%;
    }
    .winners__present {
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      color: #EA1D42;
      font-size: 29px;
      font-weight: 700;
      line-height: 120%;
      opacity: 1;
      position: relative;
      &::before {
        content: "";
        margin-right: 13px;
        display: inline-block;
        width: 38px;
        height: 43.699px;
        background: url(../../../images/winners/display/present.svg) center/ 100% 100% no-repeat;
      }
    }
    .winners__read {
      display: block;
      width: max-content;
      color: #200000;
      font-size: 16px;
      font-weight: 600;
      line-height: 120%; 
      text-decoration-line: underline;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -52px;
        display: inline-block;
        width: 32px;
        height: 16px;
        background: url(../../../images/winners/display/arrow.svg) center/ 100% 100% no-repeat;
      }
    }
  }



  &__read {
    width: max-content;
    color: #200000;
    font-size: 16px;
    font-weight: 600;
    line-height: 120%; 
    text-decoration-line: underline;
    position: relative;
    &::after {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -52px;
      display: inline-block;
      width: 32px;
      height: 16px;
      background: url(../../../images/winners/display/arrow.svg) center/ 100% 100% no-repeat;
    }
  }
  &__bt-left {
    height: 41px;
    width: 41px;
    background: url(../../../images/winners/display/bt-arrow.svg) center/ 100% 100% no-repeat;
  }
  &__bt-right {
    transform: rotateZ(180deg);
    height: 41px;
    width: 41px;
    background: url(../../../images/winners/display/bt-arrow.svg) center/ 100% 100% no-repeat;
  }
  &__woman {
    position: absolute;
    right: -28px;
    bottom: -62px;
    &::before {
      content: "";
      position: absolute;
      right: 0px;
      z-index: -1;
      display: inline-block;
      width: 1441px;
      height: 850px;
    }
  }
}
