/**
 * breakpoints
 */
$MOBILE: 320px;
$TABLET: 768px;
$TABLET-L: 1024px;
$DESKTOP: 1280px;

/**
 * font-family
 */
$BASE-FONT: Montserrat, Arial, Helvetica, sans-serif;

/**
 * color
 */

/**
 * z-layer
 */
$z-modal: 1000;

/**
 * font-weight
 */
$FW-NORMAL: 400;
$FW-BOLD: 700;
$FW-THIN: 100;
$FW-EXTRA_LIGHT: 200;
$FW-ULTRA_LIGHT: 200;
$FW-LIGHT: 300;
$FW-MEDIUM: 500;
$FW-SEMI_BOLD: 600;
$FW-DEMI_BOLD: 600;
$FW-EXTRA_BOLD: 800;
$FW-ULTRA_BOLD: 800;
$FW-BLACK: 900;
$FW-HEAVY: 900;

/**
 * other
 */
$DESIGN-W: 1440px;
$DESIGN-H: 900px;
$DESIGN-W-M: 414px;
$DESIGN-H-M: 568px;


$WRAPPER-D: 1200px;
$WRAPPER-D: 414px;

