@import "../../framework/header/header";

//@include header(X, 1);
@include header(Y);

.header {
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  width: 100%;
  @include option(padding, 35 0 0 31, 27 0 0 0);

  .custom-menu__item {
    color: var(--white, #FFF);
    font-size: 12px;
    font-weight: 700;
    line-height: 158%;
    letter-spacing: 0.8px;
    text-transform: uppercase;
  }
  .custom-menu {
    display: flex;
    @include option(gap, 18);
  }
}


.custom-header {

  &__logo {
    @include option(width, 95, 59);
    @include option(height, 89, 56);
    position: absolute;
    @include option(left, 31, 0);
    @include option(top, 35, 0);
  }
}

@include NOT-DESKTOP() {
  .custom-header {
    &__logo {
      position: relative;
    }
  }
}
