include ../../framework/modal/modal

mixin custom-modal(content, params)
  -
    function addTingleClass(condition, _class){
      var obj = attributes, name = 'data-tingle-class', sep = ' ';
      var result = obj[name] ? obj[name].split(sep) : [];
      if (condition) {
        result.push(_class);
      }
      obj[name] = result.join(sep) || false;
    }
    params = _.assign({}, params);
    addTingleClass(params.fullscreen, 'tingle-modal_fullscreen');

  +modal().custom-modal&attributes(attributes)
    .custom-modal__close-btn(data-modal-close="")

    .custom-modal__content
      block
