.footer {
  background: #0F1114;
  &__content {
    padding: 80px 0 62px 208px;
    display: flex;
    gap: 100px;
  }
  &__left {
    width: 595px;
  }
  &__logo {
    margin-bottom: 25px;
  }
  &__text {
    margin-bottom: 20px;
    color: #7F858A;
    font-family: Roboto;
    font-size: 10px;
    font-weight: 400;
    line-height: 150%;
  }
  &__line {
    margin-bottom: 26px;
    height: 0.25px;
    background: #7F858A;
  }
  &__right {
    width: 330px;
    .footer__text {
      margin-bottom: 11px;
    }
  }
  &__gr-row {
    margin-bottom: 16px;
    display: flex;
    gap: 31px;
  }
  &__gr {

  }
  &__text-company {
    margin-bottom: 25px;
    width: 328px;
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 107%;
  }
  &__img-company {
    margin-bottom: 17px;
  }
  &__text-right {
    margin-bottom: 18px;
    color: #FFF;
    font-family: Roboto;
    font-size: 10px;
    font-weight: 400;
    line-height: 150%;
  }
}
