.button {
    @include option(width, 275);
    @include option(height, 68);
    @include option(font-size, 17, 19);
    @include option(border-radius, 11);
    font-family: Montserrat;
    font-weight: 600;
    background:  #FFCD17;
}

