.button {
    padding: 18.036px 21.644px;
    width: 248px;
    height: 61.324px;
    font-size: 17.135px;
    border-radius: 9.92px;
    font-family: Montserrat;
    font-weight: 600;
    background:  #FFCD17;
}

