mixin decor(content, params)
  section.decor
    .decor__footer-1 
      img(src!=content[0].img, alt="")
    .decor__ticket-1
      img(src!=content[1].img, alt="")
    .decor__download-1
      img(src!=content[2].img, alt="")
    .decor__join-1
      img(src!=content[3].img, alt="")
    .decor__join-2
      img(src!=content[4].img, alt="")
    .decor__history-1
      img(src!=content[5].img, alt="")
    .decor__chance-1
      img(src!=content[6].img, alt="")
    .decor__chance-2
      img(src!=content[7].img, alt="")
    .decor__winners-1
      img(src!=content[8].img, alt="")
    .decor__intro-1
      img(src!=content[9].img, alt="")
    .decor__intro-2
      img(src!=content[10].img, alt="")
    .decor__intro-3
      img(src!=content[11].img, alt="")

