extends components/project/custom-page/custom-page

prepend title
  -let title = projectDescription;

block content
  +intro(copyright.main)
  +winners(copyright.winners)
  +chance(copyright.chance)
  +history(copyright.history)
  +join(copyright.join)
  +onlineBuy(copyright.onlineBuy)
  +download(copyright.download)
  +ticket(copyright.ticket)
  +footer(copyright.footer)






