.chance {
  position: relative;
  overflow: hidden;
  width: 100%;
  background: url(../../../images/chance/display/bc-center.svg) left top/ 100% no-repeat;
  .button {
    width: 275px;
    height: 68px;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__block-top {
    position: relative;
    z-index: 5;
    height: 760px;
    background: url(../../../images/chance/display/bc-top.svg) left bottom/ 100% no-repeat;
    &-wrapper {
      @include option(padding, 141 0 0 143);
      @include wrapper(1440);
      height: 100%;
    }
    .chance__title {
      position: relative;
      z-index: 4;
      margin-bottom: 17px;
      color: #FFF;
      font-size: 60px;
      font-weight: 800;
      line-height: 95%;
      letter-spacing: -0.2px;
      text-transform: uppercase;
    }
    .chance__description {
      margin-bottom: 30px;
      width: 454px;
      font-size: 22px;
      font-weight: 500;
      line-height: 145%;
      color: #FFF;
    }
    .chance__img {
      position: absolute;
      bottom: 0;
      right: -558px;
    }
  }
  &__block-center {
    height: 601px;
    @include wrapper(1440);
    @include option(padding, 130 127 0 0);
    width: 100%;
    display: flex;
    justify-content: flex-end;
    .chance__title {
      position: relative;
      z-index: 4;
      margin-bottom: 17px;
      color: #FFF;
      font-size: 40px;
      font-weight: 800;
      line-height: 95%;
      letter-spacing: -0.2px;
      text-transform: uppercase;
    }
    .chance__description {
      margin-bottom: 30px;
      width: 454px;
      font-size: 22px;
      font-weight: 500;
      line-height: 145%;
      color: #FFF;
    }
    .chance__img {
      position: absolute;
      bottom: -440px;
      left: -370px;
    }
  }
  &__block-bottom {
    height: 830px;
    position: relative;
    background: url(../../../images/chance/display/bc-bottom.svg) left top/ cover no-repeat;

    &-wrapper {
      @include wrapper(1440);
      @include option(padding, 255 0 0 143);
      height: 100%;
    }
    .chance__title {
      position: relative;
      z-index: 4;
      margin-bottom: 17px;
      color: #FFF;
      font-size: 40px;
      font-weight: 800;
      line-height: 95%;
      letter-spacing: -0.2px;
      text-transform: uppercase;
    }
    .chance__description {
      margin-bottom: 30px;
      width: 454px;
      font-size: 22px;
      font-weight: 500;
      line-height: 145%;
      color: #FFF;
    }
    .chance__img {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  &__decor-top {
    position: absolute;
    top: -28px;
    left: 50%;
    z-index: 7;
    transform: translateX(-50%);
    width: 1509px;
    height: 165px;
  }
  &__decor-bottom {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 1509px;
    height: 165px;
  }
}
