.chance {
  position: relative;
  overflow: hidden;
  width: 100%;
  background: url(../../../images/chance/display/bc-center.svg) center/ 100% no-repeat;

  .button {
    position: relative;
    z-index: 5;
  }
  &__content {
    display: flex;
    flex-direction: column;
  }

  &__block-top {
    position: relative;
    z-index: 5;
    @include option(height, 760, 840);
    background: url(../../../images/chance/display/bc-top.svg) bottom/ 1440px 100% no-repeat;
    &-wrapper {
      @include option(padding, 141 0 0 143, 100 0 0 18);
      @include wrapper(1440);
      height: 100%;
    }
    .chance__title {
      @include option(width, 1055, 377);
      position: relative;
      z-index: 4;
      @include option(margin-bottom, 17);
      color: #FFF;
      @include option(font-size, 60, 34);
      font-weight: 800;
      line-height: 95%;
      @include option(letter-spacing, -0.2);
      text-transform: uppercase;
    }
    .chance__description {
      @include option(margin-bottom, 30, 275);
      @include option(width, 454, 372);
      @include option(font-size, 22, 18);
      position: relative;
      z-index: 5;
      font-weight: 500;
      line-height: 145%;
      color: #FFF;
    }
    .chance__img {
      position: absolute;
      bottom: 0;
      @include option(width, 1615, 1000);
      @include option(height, 2007, 1281);
      @include option(bottom, -80, 60);
      @include option(right, -640, -480);
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  &__block-center {
    @include option(height, 601);
    @include option(padding, 130 127 0 0, 0 0 0 18);
    @include wrapper(1440);
    width: 100%;
    position: static;
    display: flex;
    justify-content: flex-end;
    .chance__title {
      position: relative;
      z-index: 5;
      @include option(margin-bottom, 17);
      color: #FFF;
      @include option(font-size, 40, 25);
      font-weight: 800;
      line-height: 95%;
      @include option(letter-spacing, -0.2);
      text-transform: uppercase;
    }
    .chance__description {
      @include option(margin-bottom, 30, 313);
      @include option(width, 454, 325);
      @include option(font-size, 22, 18);
      position: relative;
      z-index: 5;
      font-weight: 500;
      line-height: 145%;
      color: #FFF;
    }
    .chance__img {
      position: absolute;
    }
  }
  &__block-bottom {
    @include option(height, 830);
    position: relative;
    background: url(../../../images/chance/display/bc-bottom.svg) left top/ 1440px 100% no-repeat;

    &-wrapper {
      @include wrapper(1440);
      @include option(padding, 255 0 0 143, 173 19 0 19);
      height: 100%;
    }
    .chance__title {
      position: relative;
      z-index: 4;
      @include option(margin-bottom, 17, 10);
      color: #FFF;
      @include option(font-size, 40, 25);
      font-weight: 800;
      line-height: 95%;
      @include option(letter-spacing, -0.2);
      text-transform: uppercase;
    }
    .chance__description {
      @include option(margin-bottom, 30, 336);
      @include option(width, 454, 312);
      @include option(font-size, 22, 18);
      font-weight: 500;
      line-height: 145%;
      color: #FFF;
    }
    .chance__img {
      position: absolute;
      @include option(top, 125, 318);
      @include option(right, 42, -60);
      @include option(width, 600, 482);
      @include option(height, 451, 358);
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
  &__decor-top {
    position: absolute;
    @include option(top, -28, 0);
    left: 50%;
    z-index: 7;
    transform: translateX(-50%);
    @include option(width, 1509);
    @include option(height, 165, 100);
    img {
      height: 100%;
    }
  }
  &__decor-bottom {
    position: absolute;
    @include option(bottom, 30, -15);
    left: 50%;
    transform: translateX(-50%);
    @include option(width, 1509);
    @include option(height, 165, 100);
    img {
      height: 100%;
    }
  }
}


@include NOT-DESKTOP() {
  .chance {
    .button {
      align-self: center;
    }
    &__block-top {
      &-wrapper {
        display: flex;
        flex-direction: column;
      }

    }
    &__block-center {
      justify-content: start;
      &-wrapper {
        display: flex;
        flex-direction: column;
      }
    }
    &__block-bottom {
      &-wrapper {
        display: flex;
        flex-direction: column;
      }
    }
  }
}