//-
  https://vk.com/dev/publications
  Мы рекомендуем использовать картинки размером не менее 537x240 пикселей.
  В этом случае ссылка будет сопровождаться увеличенной картинкой (510x228 пикселей) в сниппете на стене.


+og-meta("vk:image", og.image, ['vk'])
