.svg_fb {
  width: 13.8px;
  height: 27.9px;
}

.svg_inst {
  width: 512px;
  height: 512px;
}

.svg_pin {
  width: 512px;
  height: 512px;
}

.svg_tw {
  width: 24px;
  height: 18.8px;
}

.svg_vk {
  width: 96.5px;
  height: 54.6px;
}

.svg_ytb {
  width: 512px;
  height: 352px;
}

