//- GUI
include gui/gui
include svg/svg


//- Элементы
//-include preloader/preloader
//-include mute-button/mute-button

//- Блоки
//- include custom-modal/custom-modal
include custom-menu/custom-menu

//- Страницы
include intro/intro
include chance/chance
include history/history