.nicescroll-rails {
  width: 7px;
  border-radius: 7px;
}

.custom-scroll {
  // Константы
  @mixin mod($mod) {
    @include modifier("custom-scroll", $mod) {
      @content;
    }
  }

  position: relative;

  &__content{
  }

  &__scrollbar{
    position: absolute;
    height: 100%;
    right: 10px;
  }

  &__thumb{
    width: 7px;
    background-color: #888888;
    border-radius: 3.5px;
    height: 100%;
  }

  &__track{
    position: absolute;
    top: 0;
    display: block;
    width: 7px;
    height: 50px;

    background-color: rgba(#888888, 0.5);
    border-radius: 3.5px;
  }
}
